{% if logo_site is not empty %}
<div id="logo_site">
	<a class="col-lg-12" href="{{path('domaine_homepage')}}">
        <img class="col-lg-12 col-xs-12" src="{{asset(logo_site.webPath)}} " alt="{{ logo_site.nom }} " title="{{ logo_site.nom }} ">
    </a>
</div>
{% endif %}
