{% if logo_site is not empty %}
<a class="navbar-brand" href="index.html" style="max-width: 115;max-height : 50px;">
	<img  src="images/logo.png" alt="{{ logo_site.nom }} " title="{{ logo_site.nom }} ">
</a>
{% endif %}