{% extends "::layout_admin.html.twig" %}

{% form_theme form 'DomaineBundle:Form:fields.html.twig' %}


{% block section %}
<h1>Créer un nouveau membre de l'équipe :</h1>
<div class="well">
  <form action="{{path('equipe_admin_ajouter_une_equipe')}} " method="post" {{ form_enctype(form) }}>
  	<table class="table responsive">
  		<tbody>
  			{{ form_rest(form) }}
  		</tbody>
  	</table>
   
    <input type="submit" class="btn btn-success" />
  </form>
</div>
{% endblock %}
