{% extends "::layoutDomaineLerabot.html.twig" %}

{% block section %}
	<div>
		<p>Crée depuis 30 ans, le ball trap du Rabot est devenu un stand internationnal, grâce à ses nombreuses compétitions nationales, européennes et mondiales. </p>
	</div>
	<div>
		<ul>
			<li>11 parcours de chasse </li>
  			<li>1 sanglier courant de chasse</li> 
   			<li>Compak-Sporting </li>
    		<li>Swing-Trap (pour les enfants) </li>	
		</ul>
	</div>
	<div>
		<p>Nos installations permettent en permanence aux débutants et aux initiés de s'exercer au tir de pigeons d'argile. </p>
	</div>

	<div>
		<p>Parcours spécial débutants pour l'appentissage du tir avec un moniteur compétent.</p>
	</div>

	<div>
		<p>Parcours de championnats pour les compétiteurs avertis afin de permettre de s'exercer efficacement.</p>
	</div>
	<div>
		<p>Fermeture hebdomadaire : Mardi toute la journée et mercredi matin </p>
	</div>

	<div>
		<p>Horaires d'ouverture :9h00 - 12h30 / 14h00 - 19h30</p>
		<p><strong>Contact : </strong></p>
	</div>

{% endblock %}