{% extends "::layout_admin.html.twig" %}


{% block section %}

<p>Gérer votre site grâce à un CMS conçu avec PHP >=5.3.3 SYMFONY 2.6 - Bootstrap 3.3.2 - ckeditor 4.4.7</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>
{% endblock %}