{% extends "::layout_admin.html.twig" %}


{% block section %}

<h2>Gérer votre site grâce à un CMS conçu avec SYMFONY 2.6 - Bootstrap 3 - ckeditor 4</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>
{% endblock %}