{% extends "::layout_admin.html.twig" %}
{% form_theme form 'DomaineBundle:Form:fields.html.twig' %}

{% block section %}

<div class="well">
  <form action="#" method="post" {{ form_enctype(form) }}>
  	{{ form(form) }}
    <input type="submit" value="Modifier" class="btn btn-success" />
  </form>
</div>

{% endblock %}