{% extends "::layout_admin.html.twig" %}

{% block section %}
	<h2>Ajout de l'image activitée : <strong>{{ categorie.nom }} </strong></h2>
	
	<div class="well">
	  <form action="{{path('domaine_admin_ajouter_image_activite', {'idActivite' : categorie.id })}} " method="post" {{ form_enctype(form) }}>
	  		{{ form_widget(form) }}
	    <input type="submit" class="btn btn-primary" value="Envoyer"/>
	  </form>
	</div>

{% endblock %}