{% extends "::layout_admin.html.twig" %}

{% block section %}
	<h2>Modifier l'image d'une activitée : <strong>{{ categorie.nom }} </strong></h2>
	
	<div class="well">
	  <form action="#" method="post" {{ form_enctype(form) }}>
	  		{{ form_widget(form) }}
	    <input type="submit" class="btn btn-primary" value="Envoyer"/>
	  </form>
	</div>

{% endblock %}