{% extends "::layout_admin.html.twig" %}


{% block section %}

<p>Gestion d'autres contenus : <strong>Articl - Evenement - Produit - Services etc</strong></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{{asset('bootstrap/js/bootstrap.min.js')}} "></script>
{% endblock %}